@page "/orderdetails/details"
@using Microsoft.EntityFrameworkCore
@using DataAccess
@inject IDbContextFactory<SengWeb.Data.SengWebContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>OrderDetail</h2>
    <hr />
    @if (orderdetail is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Quantity</dt>
            <dd class="col-sm-10">@orderdetail.Quantity</dd>
            <dt class="col-sm-2">Subtotal</dt>
            <dd class="col-sm-10">@orderdetail.Subtotal</dd>
            <dt class="col-sm-2">LastModified</dt>
            <dd class="col-sm-10">@orderdetail.LastModified</dd>
        </dl>
        <div>
            <a href="@($"/orderdetails/edit?orderid={orderdetail.OrderID}")">Edit</a> |
            <a href="@($"/orderdetails")">Back to List</a>
        </div>
    }
</div>

@code {
    private OrderDetail? orderdetail;

    [SupplyParameterFromQuery]
    private int OrderID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        orderdetail = await context.OrderDetail.FirstOrDefaultAsync(m => m.OrderID == OrderID);

        if (orderdetail is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
